div {
  display: inline;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 4px solid black;
  background: lime;
}

.first {
  border: 4px solid white;
}

.second {
  border: 6px solid #000000; background: white;
}
.fourth{
  border: 4px solid blue;
}
.fifth{
  background: yellow;
  border: 2px solid purple;
}
body {
  padding: 10px;
}